#rooms{border-radius:25px;background-color:rosybrown;padding:20px}
ul.rooms{list-style:none;padding-left:0;min-height:200px;max-height:480px;overflow:scroll;-webkit-overflow-scrolling:touch}
#chat{border-radius:25px;background-color:beige;padding:20px}
ul.messages{list-style:none;margin:0;padding:0}
li.message{}
span.sender{font-size:1.2em;font-weight:bold}
span.timestamp{font-style:italic;padding-left:1em}
span.text{padding-left:0.5em}