<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>What's the Craic?</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/wtc.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <label for="user">User:</label>
                    <select id="user" name="user" class="form-control">
                        <option th:each="u : ${users}" th:value="${u.id}" th:text="${u.name}" />
                    </select>
                </div>
                <div class="form-group">
                    <label for="language">Language:</label>
                    <select id="language" name="language" class="form-control">
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                        <option value="ga">Gaeilge</option>
                        <option value="ru">Русский</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Connection:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="typePolling" value="polling" disabled>
                        <label class="form-check-label" for="typePolling">Polling</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="typeServerSentEvents" value="sse" checked>
                        <label class="form-check-label" for="typeServerSentEvents">Server Sent Events</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="typeWebSockets" value="ws">
                        <label class="form-check-label" for="typeWebSockets">Web Sockets</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>View:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="view" id="viewReact" value="react" checked>
                        <label class="form-check-label" for="viewReact">React</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="view" id="viewVue" value="vue" disabled>
                        <label class="form-check-label" for="viewVue">Vue</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="view" id="viewAngular" value="angular" disabled>
                        <label class="form-check-label" for="viewAngular">Angular</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/react/umd/react.production.min.js"></script>
<script src="/webjars/react-dom/umd/react-dom.production.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>